:root {
  --theme-color: rgb(11, 1, 1);
  --primary-color: #08fdd8;
  --secundary-color: #08fdd8;
  --text-color-inverse: white;
  --text-color: rgb(240, 240, 240);
  --navbar-shallow-color: #e5e5e5;
  --menu-mobile-background-color: #3A4460;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: var(--theme-color);
  color: var(--text-color);
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(255, 213, 157);
}

.horizontal-padding {
  padding-left: 15px;
  padding-right: 15px;
}

.vertical-padding {
  padding-top: 25px;
  padding-bottom: 25px;
}

br {
  display: block;
  content: "";
  margin: 10px 0;
}

@media (min-width: 950px) {
  .horizontal-padding {
    padding-left: 70px;
    padding-right: 70px;
  }

  .vertical-padding {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}