html {
  scroll-behavior: smooth;
}

:root {
  --theme-color: rgb(11, 1, 1);
  --primary-color: #08fdd8;
  --secundary-color: #08fdd8;
  --text-color-inverse: white;
  --text-color: rgb(240, 240, 240);
  --navbar-shallow-color: #e5e5e5;
  --menu-mobile-background-color: #31353d;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  /* font-family: 'Roboto Condensed', sans-serif; */
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Comfortaa', cursive; */
  /* background-color: var(--theme-color); */
  color: var(--text-color);
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)), url("img/espejadamobile.jpg");
  /* background-size: cover; */
  background-repeat: repeat;
  background-size: 130%;
}

a {
  text-decoration: none;
  color: rgb(255, 213, 157);
}

section {
  padding: 0px 15px 25px 15px;
}

.horizontal-padding {
  padding-left: 15px;
  padding-right: 15px;
}

.vertical-padding {
  padding-top: 25px;
  padding-bottom: 25px;
}

br {
  display: block;
  content: "";
  margin: 10px 0;
}


/* .fill {
  height: 45vh;
} */

@media (min-width: 950px) {
  body {
    background-image: linear-gradient(0deg,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)), url("img/espejadadesktop.jpg");
    /* background-size: cover; */
    background-repeat: repeat;
    background-size: 130%;
  }

  section {
    padding: 0px 70px 70px 70px;
  }

  .horizontal-padding {
    padding-left: 70px;
    padding-right: 70px;
  }

  .vertical-padding {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  /*   .fill {
    height: 200px;
  } */
}